p
{
	font-size: 1.8em;
	font-family: verdana;
	text-align: justify;

}

em
{
	font-size: 2em;
	font-family: 'Japanese Brush',verdana,sans-serif;
	text-align: justify

}

a
{
	text-decoration: none;
	color: black;
	font-style: none;
}

section
{
	display: inline-block;
	margin: 0.5em;
}

img
{
	box-shadow: 1px 1px 12px #555;
}

.Nouveaux_episodes
{
	margin: 0 auto;
	position: relative;
	top: 1em;
	left: 0.5em;
}

.Nouveaux_episodes ul li
{
	display: inline-block;
	list-style: none;
	margin: 0.3em;
}

.News
{
	position: relative;
	top: 0em;
	left: 0.5em;
	width: 45em;
}

.Animes_suggeres
{
	position: relative;
	top: -8.5em;
	left: 30em;
	width: 45em;
}

.Top_des_vues
{
	position: relative;
	top: 0em;
	left: 30em;
}

.Statistiques
{
	position: relative;
	top: -10em;
	left: 0.5em;
}

.Partenaires
{
	position: relative;
	top: -8.5em;
	left: 1em;
}

img
{
	display: inline-block;
	width:15em;
	height:10em;
	border-radius: 2px;
}