@font-face {
font-family:'Japanese Brush';
src:url("JAPAB___.eot?") format("eot");	
src:url("JAPAB___.woff") format("woff"),
	url("JAPAB___.ttf") format("truetype"),
	url("JAPAB___.svg#JapaneseBrush") format("svg");
}

html
{
	background: url(background.jpg) fixed repeat;
}

header
{
	display: inline-block;
	background: url(banniere.jpg);
	width:17em;
	height:3.9em;
	font-size: 50px ;
	font-weight: bold;
	text-align: center;
	line-height: 1em;
	font-family: 'Japanese Brush';
}

body
{
	margin: 0 auto;
	width: 53.125em;
	background-color: rgba(255,255,255,1);
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}


nav
{
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 2em;
	font-family: monospace;
	border-radius: 10px
}

nav ul li
{
	display: inline-block;
	list-style: none;
	margin: 0em;
}

nav ul li a
{
	display: inline-block;
	border-radius: 5px;
	padding: 0.1em;
	background-color: rgba(114,143,153,0.25);
	font-family: verdana
	color: #AAA;
}

nav ul li a:hover
{
	text-decoration: none;
	background-color: #AAA;
	color: black;
}

.main
{
	height: auto;
	background: "";

}

a:hover
{
	text-decoration: none;
	color: blue;
}

a:visited
{
	color: #AAA;
}