p
{
	font-size: 1.8em;
	font-family: verdana;
	text-align: justify;
	border: double;
	margin: 68px;
}

.titre
{
	font-size: 2em;
	font-family: verdana;
	text-decoration: none;
	color: black;
	font-style: italic;
}

hr
{
	border: double;
}